* {
    margin: 0;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../img/crocodile-meat.jpeg');
}

/* index sida ------------------------------------------------------------------------------------------------------------------- */

.container {
    display: grid;
    width: 98.9vw;
    height: 200vh;
    grid-template-areas: 
    "he he"
    "na na"
    "se se"
    "ma ma"
    "a1 a2"
    "fo fo"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.93fr 1fr 4fr 4fr 4fr 1fr;
    grid-gap: 0px;
}

.logo {
    margin: 6px;
}

.header {
    grid-area: he;
    background-color: white;
    position: fixed;
    height: 94px;
    width: 100vw;
}

.nav {
    grid-area: na;
    background-color: #60a300;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section {
    grid-area: se;
    opacity: 0%;
}

.main {
    grid-area: ma;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.h1 {
    color: #60a300;
    margin: 25px;
}

.article1 {
    grid-area: a1;
    background-color: #60a300;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.h3 {
    color: white;
    margin: 40px;
}

.text {
    color: white;

}

.article2 {
    grid-area: a2;
    background-color: #60a300;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer {
    grid-area: fo;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Meny sida ------------------------------------------------------------------------------------------------------------- */

.menu-container {
    display: grid;
    width: 98.9vw;
    height: 150vh;
    grid-template-areas: 
    "he he"
    "na na"
    "ma at"
    "se se"
    "fo fo"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 4fr 1fr;
    grid-gap: 0px;
}

.menu-header {
    grid-area: he;
    background-color:white;
    position: fixed;
    height: 94px;
    width: 100vw;
}

.menu-nav {
    grid-area: na;
    background-color: #60a300;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu-main {
    grid-area: ma;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-article {
    grid-area: at;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-item {
    margin: auto;
}

.menu-section {
    grid-area: se;
    background-color: yellow;
    opacity: 0%;
}

.menu-footer {
    grid-area: fo;
    background-color: #60a300;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* About sida ---------------------------------------------------------------------------------------------------------------- */

.about-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "he he"
    "na na"
    "ma se"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 6fr;
    grid-gap: 0px;
}

.about-header {
    grid-area: he;
    background-color:white;
    position: fixed;
    height: 94px;
    width: 100vw;
}

.h2 {
    color: #60a300;
    margin: 25px;
}

.about-nav {
    grid-area: na;
    background-color: #60a300;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-main {
    grid-area: ma;
    background-color: white;
    text-align: center;
}

.about-section {
    grid-area: se;
    overflow: hidden;
}